.bg{
	background:#38343f;
	min-height: 900px;
}

.containerwidth {
  max-width: 1200px;
}

.white-bg {
	background: #E0E0DA;
}

.btn:active {
  background-color: #9A6258;
}

.btn {
  background-color: #81654dd0;
  border: none;
}

.btn:hover{
  background-color: #9A6258;
  transition: all 0.3s ease-in-out;
}

.btn:visited {
  background-color: black;
}


.title {
	max-width: 500px;
	line-height: 1.5;
}

.title-height {
	min-height: 200px;
}

