.bg{
	background:#38343f;
	min-height: 800px;
}

.white-bg {
	background: #E0E0DA;
}

.btn:focus {
  box-shadow: none !important;
  background-color: #c76b5e!important;
  
}
/* #9A6258
#c76b5e */
.btn:active {
  background-color: #9A6258;
}

.btn {
  background-color: #9A6258;
  border: none;
}

.btn:hover{
  background-color: #c76b5e;
}

.btn:visited {
  background-color: black;
}


.title {
	max-width: 500px;
	line-height: 1.5;
}

.title-height {
	min-height: 200px;
}

